*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    font-family:'Lato', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #055052;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.panal-pricing-table{
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: uppercase;
}

.pricing-plan{
    border-bottom: 1px solid #E8F6EF;

}
.pricing-plan:last-child{
    border-bottom: none;
}
.pricing-image{
    margin-bottom: 25px;
    max-width: 100%;

}
.header{
    color: #888;
    font-weight:600;
    letter-spacing: 1px;
}
.pricing-features{
    margin: 50px 0 25px;
    color: #185ADB;

}
.pricing-features-items{
    font-weight:600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #E8F6EF;

}
.pricing-features-items:last-child{
    border-bottom:1px solid #E8F6EF;;
    
}
.price{
    color:#185ADB ;
    font-weight: 700;
    display: block;
    font-size: 32px;
}
.pricing-button{
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #185ADB ;
    display: inline-block;
    padding: 15px 35px;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricing-button:hover, pricing-button:focus{
    background-color: #e1f1ff;

}
.pricing-button.is-featured{
    background-color: #48aaff;
    color: white;

}
.pricing-button.is-featured:hover, pricing-button.is-featured:focus{
    background-color: #185ADB;

}
@media(min-width:900px){
    .panal-pricing-table{
        flex-direction: row;
    }
    .price{
        border-bottom: none;
        border-right: 1px solid #E8F6EF;
        padding: 25px 50px;
    }
    .price:last-child{
        border-right: none;
    }


}